<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>Emoticon_default</string>
	<key>groupName</key>
	<string>Emoji</string>
	<key>groupType</key>
	<string>0</string>
	<key>iconName</key>
	<string>Emotions_toolbar_xiaolian</string>
	<key>emoticons</key>
	<array>
		<dict>
			<key>chs</key>
			<string>[微笑]</string>
			<key>png</key>
			<string>smiley_0.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[撇嘴]</string>
			<key>png</key>
			<string>smiley_1.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[色]</string>
			<key>png</key>
			<string>smiley_2.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[发呆]</string>
			<key>png</key>
			<string>smiley_3.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[得意]</string>
			<key>png</key>
			<string>smiley_4.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[流泪]</string>
			<key>png</key>
			<string>smiley_5.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[害羞]</string>
			<key>png</key>
			<string>smiley_6.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[闭嘴]</string>
			<key>png</key>
			<string>smiley_7.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[睡]</string>
			<key>png</key>
			<string>smiley_8.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[大哭]</string>
			<key>png</key>
			<string>smiley_9.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[尴尬]</string>
			<key>png</key>
			<string>smiley_10.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[发怒]</string>
			<key>png</key>
			<string>smiley_11.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[调皮]</string>
			<key>png</key>
			<string>smiley_12.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[呲牙]</string>
			<key>png</key>
			<string>smiley_13.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[惊讶]</string>
			<key>png</key>
			<string>smiley_14.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[难过]</string>
			<key>png</key>
			<string>smiley_15.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[酷]</string>
			<key>png</key>
			<string>smiley_16.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[冷汗]</string>
			<key>png</key>
			<string>smiley_17.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[抓狂]</string>
			<key>png</key>
			<string>smiley_18.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[吐]</string>
			<key>png</key>
			<string>smiley_19.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[偷笑]</string>
			<key>png</key>
			<string>smiley_20.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[愉快]</string>
			<key>png</key>
			<string>smiley_21.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[白眼]</string>
			<key>png</key>
			<string>smiley_22.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[傲慢]</string>
			<key>png</key>
			<string>smiley_23.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[饥饿]</string>
			<key>png</key>
			<string>smiley_24.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[困]</string>
			<key>png</key>
			<string>smiley_25.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[惊恐]</string>
			<key>png</key>
			<string>smiley_26.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[流汗]</string>
			<key>png</key>
			<string>smiley_27.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[憨笑]</string>
			<key>png</key>
			<string>smiley_28.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[悠闲]</string>
			<key>png</key>
			<string>smiley_29.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[奋斗]</string>
			<key>png</key>
			<string>smiley_30.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[咒骂]</string>
			<key>png</key>
			<string>smiley_31.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[疑问]</string>
			<key>png</key>
			<string>smiley_32.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[嘘]</string>
			<key>png</key>
			<string>smiley_33.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[晕]</string>
			<key>png</key>
			<string>smiley_34.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[疯了]</string>
			<key>png</key>
			<string>smiley_35.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[衰]</string>
			<key>png</key>
			<string>smiley_36.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[骷髅]</string>
			<key>png</key>
			<string>smiley_37.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[敲打]</string>
			<key>png</key>
			<string>smiley_38.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[再见]</string>
			<key>png</key>
			<string>smiley_39.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[擦汗]</string>
			<key>png</key>
			<string>smiley_40.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[抠鼻]</string>
			<key>png</key>
			<string>smiley_41.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[鼓掌]</string>
			<key>png</key>
			<string>smiley_42.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[糗大了]</string>
			<key>png</key>
			<string>smiley_43.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[坏笑]</string>
			<key>png</key>
			<string>smiley_44.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[左哼哼]</string>
			<key>png</key>
			<string>smiley_45.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[右哼哼]</string>
			<key>png</key>
			<string>smiley_46.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[哈欠]</string>
			<key>png</key>
			<string>smiley_47.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[鄙视]</string>
			<key>png</key>
			<string>smiley_48.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[委屈]</string>
			<key>png</key>
			<string>smiley_49.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[快哭了]</string>
			<key>png</key>
			<string>smiley_50.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[阴险]</string>
			<key>png</key>
			<string>smiley_51.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[亲亲]</string>
			<key>png</key>
			<string>smiley_52.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[吓]</string>
			<key>png</key>
			<string>smiley_53.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[可怜]</string>
			<key>png</key>
			<string>smiley_54.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[菜刀]</string>
			<key>png</key>
			<string>smiley_55.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[西瓜]</string>
			<key>png</key>
			<string>smiley_56.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[啤酒]</string>
			<key>png</key>
			<string>smiley_57.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[篮球]</string>
			<key>png</key>
			<string>smiley_58.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[乒乓]</string>
			<key>png</key>
			<string>smiley_59.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[咖啡]</string>
			<key>png</key>
			<string>smiley_60.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[饭]</string>
			<key>png</key>
			<string>smiley_61.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[猪头]</string>
			<key>png</key>
			<string>smiley_62.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[玫瑰]</string>
			<key>png</key>
			<string>smiley_63.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[凋谢]</string>
			<key>png</key>
			<string>smiley_64.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[嘴唇]</string>
			<key>png</key>
			<string>smiley_65.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[爱心]</string>
			<key>png</key>
			<string>smiley_66.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[心碎]</string>
			<key>png</key>
			<string>smiley_67.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[蛋糕]</string>
			<key>png</key>
			<string>smiley_68.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[闪电]</string>
			<key>png</key>
			<string>smiley_69.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[炸弹]</string>
			<key>png</key>
			<string>smiley_70.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[刀]</string>
			<key>png</key>
			<string>smiley_71.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[足球]</string>
			<key>png</key>
			<string>smiley_72.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[瓢虫]</string>
			<key>png</key>
			<string>smiley_73.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[便便]</string>
			<key>png</key>
			<string>smiley_74.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[月亮]</string>
			<key>png</key>
			<string>smiley_75.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[太阳]</string>
			<key>png</key>
			<string>smiley_76.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[礼物]</string>
			<key>png</key>
			<string>smiley_77.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[拥抱]</string>
			<key>png</key>
			<string>smiley_78.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[强]</string>
			<key>png</key>
			<string>smiley_79.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[弱]</string>
			<key>png</key>
			<string>smiley_80.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[握手]</string>
			<key>png</key>
			<string>smiley_81.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[胜利]</string>
			<key>png</key>
			<string>smiley_82.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[抱拳]</string>
			<key>png</key>
			<string>smiley_83.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[勾引]</string>
			<key>png</key>
			<string>smiley_84.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[拳头]</string>
			<key>png</key>
			<string>smiley_85.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[差劲]</string>
			<key>png</key>
			<string>smiley_86.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[爱你]</string>
			<key>png</key>
			<string>smiley_87.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[NO]</string>
			<key>png</key>
			<string>smiley_88.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[OK]</string>
			<key>png</key>
			<string>smiley_89.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[爱情]</string>
			<key>png</key>
			<string>smiley_90.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[飞吻]</string>
			<key>png</key>
			<string>smiley_91.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[跳跳]</string>
			<key>png</key>
			<string>smiley_92.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[发抖]</string>
			<key>png</key>
			<string>smiley_93.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[怄火]</string>
			<key>png</key>
			<string>smiley_94.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[转圈]</string>
			<key>png</key>
			<string>smiley_95.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[磕头]</string>
			<key>png</key>
			<string>smiley_96.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[回头]</string>
			<key>png</key>
			<string>smiley_97.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[跳绳]</string>
			<key>png</key>
			<string>smiley_98.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[投降]</string>
			<key>png</key>
			<string>smiley_99.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[高兴]</string>
			<key>png</key>
			<string>smiley_100.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[口罩]</string>
			<key>png</key>
			<string>smiley_101.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[激动]</string>
			<key>png</key>
			<string>smiley_102.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[哎呀]</string>
			<key>png</key>
			<string>smiley_103.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[刺瞎]</string>
			<key>png</key>
			<string>smiley_104.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[吃惊]</string>
			<key>png</key>
			<string>smiley_105.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[害怕]</string>
			<key>png</key>
			<string>smiley_106.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[忧郁]</string>
			<key>png</key>
			<string>smiley_107.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[媚眼]</string>
			<key>png</key>
			<string>smiley_108.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[惬心]</string>
			<key>png</key>
			<string>smiley_109.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[勉强]</string>
			<key>png</key>
			<string>smiley_110.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[魔鬼]</string>
			<key>png</key>
			<string>smiley_111.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[幽灵]</string>
			<key>png</key>
			<string>smiley_112.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[礼盒]</string>
			<key>png</key>
			<string>smiley_113.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[祈祷]</string>
			<key>png</key>
			<string>smiley_114.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[肌肉]</string>
			<key>png</key>
			<string>smiley_115.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[美元]</string>
			<key>png</key>
			<string>smiley_116.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[生日蛋糕]</string>
			<key>png</key>
			<string>smiley_117.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[气球]</string>
			<key>png</key>
			<string>smiley_118.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[贺礼]</string>
			<key>png</key>
			<string>smiley_119.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
